
/* Resetear estilos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

nav a:hover {
    color: #ffd700; /* Cambia el color al pasar el mouse sobre los enlaces */
}

.contenido {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    display: block;
    margin: 0 auto;
}

h1, h2 {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 10px;
}

/* Media Query para hacer el diseño responsive */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    nav {
        padding: 5px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }
}

