body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e9ffeb;
    color: black;
}

main {
    max-width: 450px; 
    margin: 0 auto; 
    padding: 30px; /
}

.formulario {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.1);
}

.formulario h1{
    margin-left: 10px;
    margin-bottom: 0;
}

.formulario h4 {
    color: #127705;
    margin-bottom: 20px;
    text-align: left;
    margin-left: 10px;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
    margin-left: 10px;
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario select,
.formulario textarea {
    margin-left: 10px;
    width: 150%;
    padding: 8px;
    margin-bottom: 16px;  
    border: 1px solid #ccc;
    border-radius: 4px;
}

.formulario textarea {
    resize: vertical;
}

.formulario input[type="submit"] {
    width: 100%;
    background-color: #ffffff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.datos-cuenta {
    float: left;
    width: 50%;
    padding-right: 20px;
}

.datos-personales {
    float: left;
    width: 50%;
    padding-right: 20px;
    margin-bottom: 17px;
}

.boton {
    margin-bottom: 20px;
}

.boton a{
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(36, 168, 40);
    color: white;
    margin-left: 140px;
    padding: 8px 20px;
    border-radius: 4px;
    font-size: 17px;
    border: solid 1px #04740e;
}

.boton a:hover{
    background-color: #06800e;
    color: white;
    border: solid #045f0c 1px;
}
